In [15]:
import pandas as pd
nyc_violations_df=pd.read_csv(r'H:/AZUBI/dataset/data 2.csv',usecols=['Plate ID','Registration State','Vehicle Make','Vehicle Color',
                                       'Violation Time','Street Name'])

In [16]:
nyc_violations_df.head()

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,KGK6659,NY,BMW,0637P,WB ATLANTIC AVE @ SH,GY
1,L5232HY,TN,INTER,0853A,Rockaway Beach Blvd,WHITE
2,BPMN76,FL,NISSA,0853A,W 113th St,BLACK
3,57387MJ,NY,NaN,0444P,W 33rd St,WH
4,M81KFJ,NJ,TOYOT,0723A,WB FOSTER AVE @ E 18,NaN

In [9]:
new_violations_df=nyc_violations_df.dropna(subset=
                                           ['Plate ID','Registration State','Street Name'])

In [12]:
del_rows=nyc_violations_df.shape[0]-new_violations_df.shape[0]
print(f"the number of deleted rows are: {del_rows}")
print(f"Money lost by New York due to misssing data is $: {del_rows*100}")

the number of deleted rows are: 5
Money lost by New York due to misssing data is $: 500